<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Served By Node</title>
  </head>
  <body>
    <h1>{{ name }}<h1>
    <p>{{name}}'s favorite language is{{ firstLanguage}}</p>  
    </ul>
  </body>
</html>
